[submodule "api/grpc-helper"]
	path = api/grpc-helper
	url = git@github.com:dynod/grpc-helper-api.git
	branch = main
[submodule "api/core"]
	path = api/core
	url = git@github.com:dynod/core-api.git
	branch = main
[submodule "tools/grpc-helper"]
	path = tools/grpc-helper
	url = git@github.com:dynod/grpc-helper.git
	branch = main
[submodule "tools/pytest-multilog"]
	path = tools/pytest-multilog
	url = git@github.com:dynod/pytest-multilog.git
	branch = main
[submodule "tools/nmk"]
	path = tools/nmk
	url = git@github.com:dynod/nmk.git
	branch = main
[submodule "tools/buildenv"]
	path = tools/buildenv
	url = git@github.com:dynod/buildenv.git
	branch = main
[submodule "tools/nmk-base"]
	path = tools/nmk-base
	url = git@github.com:dynod/nmk-base.git
	branch = main
[submodule "tools/nmk-badges"]
	path = tools/nmk-badges
	url = git@github.com:dynod/nmk-badges.git
	branch = main
[submodule "tools/nmk-doc"]
	path = tools/nmk-doc
	url = git@github.com:dynod/nmk-doc.git
	branch = main
[submodule "tools/nmk-github"]
	path = tools/nmk-github
	url = git@github.com:dynod/nmk-github.git
	branch = main
[submodule "tools/nmk-proto"]
	path = tools/nmk-proto
	url = git@github.com:dynod/nmk-proto.git
	branch = main
[submodule "tools/nmk-python"]
	path = tools/nmk-python
	url = git@github.com:dynod/nmk-python.git
	branch = main
[submodule "tools/nmk-rust"]
	path = tools/nmk-rust
	url = git@github.com:dynod/nmk-rust.git
	branch = main
[submodule "tools/nmk-vscode"]
	path = tools/nmk-vscode
	url = git@github.com:dynod/nmk-vscode.git
	branch = main
